<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8" />
<title>lister Villages</title>
<link rel="stylesheet" type="text/css"
	th:href="@{../../css/bootstrap.min.css}" />
</head>
<body>
	<div class="nav navbar-default">
		<ul class="nav navbar-nav">
			<li><a th:href="@{/Client/liste}">Gestion des Clients</a></li>
			<li><a th:href="@{/Village/liste}">Gestion des Villages</a></li>
		</ul>
	</div>
	<div class="container col-sm-6 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des Villages</div>
			<div class="panel-body">
				<table class="table table striped table-bordered">
					<tr>
						<th>Identifiant</th>
						<th>Nom</th>
						<th>User</th>
						<th>action</th>
						<th>action</th>
						
					</tr>
					<tr th:each="c:${liste_clients}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nom}"></td>
						<td th:text="${c.user.nom}"></td>
						<td><a th:href="@{/Village/edit(id=${c.id})}">Editer</td>
						<td><a th:href="@{/Village/delete(id=${c.id})}">Supprimer</td>
					</tr>
					
				</table>
			</div>
			<div class="panel-footer">Gestion des Villages</div>
		</div>
	</div>
	<div class="container col-sm-6 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Formilaire de Gestion des Villages</div>
			<div class="panel-body">
				<form method ="post" th:action ="@{/Village/add}">

					<div class="form-group">
						<label class="control-label"> Nom du Village</label> 
							<input class="form-control" type="text" name="nom" />
					</div>
						<div class="form-group">
						<label class="control-label"> Nom User </label> 
							<select class="form-control" type="text" name="idUser"/>
							<option value ="0">Faites un choix</option>
						<option th:each ="u:${liste_users}" th:value = "${u.id}" th:text = "${u.nom + ' ' + u.prenom}">Faites un choix</option>
						</select>
					</div>
					<input class="btn btn-success" type="submit" name="valider"
						value="Valider" /> 
						<input class="btn btn-danger" type="reset" name="annuler" value="Annuler" />
					<div class="panel-footer">Gestion des Villages</div>
				</form>
</body>
</html>